:root {
    color-scheme: dark;
}

/*Главная страница сайта*/
.default {
    text-align:center;
    color: white;
    font-size: 25px;
}

html, body {
    background-color: rgb(139, 0, 139);
    box-sizing: border-box;
}

p, label {
    color: rgb(255, 255, 255);
}

option {
    color: rgb(0, 250, 154);
    background-color: rgb(128, 128, 128);
}

.cards {
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    margin-left: 10px;

}

.cards p {
    overflow-y: scroll;
    margin-left: 2px;
    padding: 1rem;
    border: 2px solid #63ff7d;
    font-size: 12px;
    width: 370px;
    height: 500px;
    border-radius: 10px;
}

.container-fluid {
    background-color: rgb(139, 0, 139);
}

.underline {
    border-bottom: 1px solid white;
}


select.seller {
    margin: 1.5rem 1rem 1rem 0;
    width: 500px;
}

.seller_label {
    padding: 1.5rem 1rem 1rem 3rem;
}

.days_label, .months_label, .years_label {
    padding-left: 2rem;
}

select.days, select.months, select.years, select.weeks, select.seller {
    background: rgb(63,251,239);
    background: linear-gradient(90deg, rgba(63,251,239,1) 0%, rgba(195,70,252,1) 100%);
    border: 0;
}

select.days, select.months, select.years, select.weeks {
    margin: 3rem 1rem 1rem 0;
    width: 35px;
}

.weeks_label {
    margin-left: -2rem;
}

.months_label, .years_label {
    margin-left: -1rem;
}

select.years {
    width: 55px;
}

.rub {
	line-height: 7px;
	width: 0.4em;
	border-bottom: 1px solid #fff;
	display: inline-block;
}

button[type="submit"] {
    margin: 2.5rem 1rem 1rem 0;
}

.linkopenmodal {
    color: white;
}

.label_modal {
    color: black;
}

/* свойства модального окна по умолчанию */
.modalWindow {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in;
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modalWindow:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modalWindow-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modalWindow-dialog {
      max-width: 500px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */
.modalWindow-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modalWindow-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modalWindow-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modalWindow-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modalWindow-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

