:root {
    color-scheme: dark;
}

/*Главная страница сайта*/
.default {
    text-align:center;
    color: white;
    font-size: 25px;
}

html, body {
    background-color: rgb(139, 0, 139);
    box-sizing: border-box;
}

p, label {
    color: rgb(255, 255, 255);
}

option {
    color: rgb(0, 250, 154);
    background-color: rgb(128, 128, 128);
}

.cards {
    display: flex;
    flex-direction:  row;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cards p {
    overflow-y: scroll;
    margin-left: 2px;
    padding: 1rem;
    background-color: #ffffff;
    font-size: 13px;
    color: #000;
    width: 370px;
    height: 500px;
    border-radius: 10px;
}

.strong_header {
    display: block;
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 2px solid #000000;
}

.wrapper_item {
    display: block;
    padding-top: 15px;
    border-bottom: 2px solid #000000;
    font-family: 'Roboto Slab', serif;
}

.total_receipt {
    display: block;
    font-size: 14px;
    padding-top: 15px;
}

.container-fluid {
    background-color: rgb(139, 0, 139);
}

.underline {
    border-bottom: 1px solid white;
}


select.seller {
    margin: 1.5rem 1rem 1rem 0;
    width: 500px;
}

.seller_label {
    padding: 1.5rem 1rem 1rem 3rem;
}

.days_label, .months_label, .years_label {
    padding-left: 2rem;
}

select.days, select.months, select.years, select.weeks, select.seller {
    background: rgb(63,251,239);
    background: linear-gradient(90deg, rgba(63,251,239,1) 0%, rgba(195,70,252,1) 100%);
    border: 0;
}

select.days, select.months, select.years, select.weeks {
    margin: 3rem 1rem 1rem 0;
    width: 35px;
}

.weeks_label {
    margin-left: -2rem;
}

.months_label, .years_label {
    margin-left: -1rem;
}

select.years {
    width: 55px;
}

.rub {
	line-height: 7px;
	width: 0.4em;
	border-bottom: 1px solid #fff;
	display: inline-block;
}

button[type="submit"] {
    margin: 2.5rem 1rem 1rem 0;
}

.link_open {
    cursor: pointer;
    color: white !important;
}