:root {
    color-scheme: dark;
}

/*Главная страница сайта*/
.default {
    text-align:center;
    color: white;
    font-size: 25px;
}

html, body {
    background-color: rgb(139, 0, 139);
    box-sizing: border-box;
}

p, label {
    color: rgb(255, 255, 255);
}

option {
    color: rgb(0, 250, 154);
    background-color: rgb(128, 128, 128);
}

.cards {
    display: flex;
    flex-direction:  row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 10px;
}

.cards p {
    padding: 1rem;
    border: 2px solid #63ff7d;
    width: 455px;
    height: 285px;
    border-radius: 10px;
}

.container-fluid {
    background-color: rgb(139, 0, 139);
}



select.seller {
    margin: 1rem;
    width: 500px;

}

select.days, select.months, select.years, select.weeks {
    margin: 1rem;
    width: 35px;
}

select.years {
    width: 55px;
}

.rub {
	line-height: 7px;
	width: 0.4em;
	border-bottom: 1px solid #fff;
	display: inline-block;
}