<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Домашняя бухгалтерия</title>
    <link rel="shortcut icon" href="{{ url_for("static", filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for("static", filename='css/styles.css') }}">
</head>
<body>
<div class="container-fluid">
    <form action="/accounting" method="post">
        <div class="row">
            <div class="col-5 col-sm-5">
                <label class="seller_label">
                    Выбери продавца:
                    <select name="seller" class="seller">
                        <option value=""></option>
                        {% for name_item in name_seller %}
                            {% for seller in name_item %}
                                <option value="{{ seller }}">{{ seller }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </label>
            </div>
            <!-- /.col-5 -->
            <div class="col-3 col-sm-3">
                <label class="days_label">
                    День:
                    <select name="days" class="days">
                        <option value=""></option>
                        {%  for i in range(1,32,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="months_label">
                    Месяц:
                    <select name="months" class="months">
                        <option value=""></option>
                        {%  for i in range(1,13,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </label>
                <label class="years_label">
                    Год:
                    <select name="years" class="years">
                        <option value=""></option>
                        {%  for i in range(2021,2101,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
            <!-- /.col-3 -->
            <div class="col-2 col-sm-2">
                <label class="weeks_label">
                    Выборка по неделям:
                    <select name="weeks" class="weeks">
                        <option value=""></option>
                        {%  for i in range(1,53,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </label>
                <p class="get_amount">{{ get_amount }}</p>
                <!-- Кнопка-триггер модального окна -->
                <a href="/adding_receipt_manual" target="_blank" class="linkopenmodal">Добавить чек вручную</a>

            </div>
            <div class="col-1 col-sm-1">
                <button type="submit" name="selection_by_week" class="btn btn-danger send_request">Отправить запрос</button>
                <a href="charts">Графики</a><br>

            </div>
        </div>
    </form>


    <p class="error">{{ error }}</p>
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="cards">
                {% block content %}
                    {% for item in data_sampling %}
                        <p>
                            Продавец: {{ item[2] }} <br>
                            Дата покупки: {{ item[0] }} <br>
                            Время покупки: {{ item[1] }} <br><br>

                            {% for item in item[3][0] %}
                                Наименование: {{ item[0] }}<br>
                                Цена: {{ item[1] }}<br>
                                Количество\Вес: {{ item[2] }}<br>
                                Сумма: {{ item[3] }}<br><br>
                            {% endfor %}

                            Итог по чеку: {{ item[4] }}
                        </p>
                    {% endfor %}
                {% endblock %}
            </div>
        </div>
        <!-- /.col-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

</body>
</html>